.timeline-section{
	/* min-height: 100vh; */
	padding:  15px;
}
.timeline-items{
	max-width: 1000px;
	margin:auto;
	display: flex;
	flex-wrap: wrap;
	position: relative;
}
.timeline-items::before{
	content: '';
	position: absolute;
	width: 2px;
	height: 100%;
	background-color: #2f363e;
	left: calc(50% - 1px);
}
.timeline-item{
	margin-bottom: 40px;
	width: 100%;
	position: relative;
}
.timeline-item:last-child{
	margin-bottom: 0;
}
.timeline-item:nth-child(odd){
    padding-right: calc(50% + 30px);
	text-align: right;
}
.timeline-item:nth-child(even){
    padding-left: calc(50% + 30px);
}
.timeline-dot{
	height: 16px;
	width: 16px;
	background-color: #eaa023;
	position: absolute;
	left: calc(50% - 8px);
	border-radius: 50%;
	top:10px;
}
.timeline-date{
	font-size: 18px;
	color: #eaa023;
	margin:6px 0 15px;
}
.timeline-content{
    background-color: #393053;
	padding: 20px;
	border-radius: 5px;
}
.timeline-content h3{
    font-size: 16px;
	color: #ffffff;
	margin:0 0 10px;
	text-transform: capitalize;
	font-weight: 500;
}
.timeline-content p{
    color: #c8c8c8;
	font-size: 16px;
	font-weight: 300;
	line-height: 22px;
}

.timeline-items::before{
	left: 7px;
}
.timeline-item:nth-child(odd){
	padding-right: 0;
	text-align: left;
}
.timeline-item:nth-child(odd),
.timeline-item:nth-child(even){
	padding-left: 37px;
}
.timeline-dot{
	left:0;
}
.timeline-section{
	padding-top: 40px;
}

/* responsive */
@media(max-width: 767px){
	
}

.slide-container {
  width: 100%;
  height:85vh;
  display: flex;
  align-items: center;
  overflow: hidden;
  background-color: rgb(110, 110, 250);
}

.image-slider{
  width: 100%;
  height: 600px;
  position: absolute;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
}

.slides-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 30px;
}

.img{
  position: relative;
  width: 240px;
  height: 370px;
  transition: 0.5s;
}

.button {
  position: absolute;
  width: 240px;
  height: 370px;
  transition: 0.5s;
  background-color: rgba(67, 67, 151, 0.2);
}

#slider-span1:target ~ .image-slider #img1,
#slider-span1:target ~.image-slider #button-1{
  width:380px;
  height: 585px;
  background-color: transparent;
}
#slider-span2:target ~ .image-slider #img2,
#slider-span2:target ~.image-slider #button-2{
  width:380px;
  height: 585px;
  background-color: transparent;
}
#slider-span3:target ~ .image-slider #img3,
#slider-span3:target ~.image-slider #button-3{
  width:380px;
  height: 585px;
  background-color: transparent;
}

#slider-span1:target ~.image-slider{
  left:20%;
}
#slider-span2:target ~.image-slider{
  left:0%;
}
#slider-span3:target ~.image-slider{
  left:-20%;
}



